<div class="container">
	<div class="col-md-9">
		<div class="thumbnail">
			<%= image_tag @ad.image_url, class: "img-responsive" %>
			<div class="caption-full">
				<h4 class="pull-right"><%= humanized_money_with_symbol @ad.price %></h4>
				<h4><%= @ad.title  %></h4>
				<%= @ad.description  %>
			</div>
			<div class="ratings">
				<p class="pull-right">Ad criado por <%= @ad.member.email %></p>
				<p>
					<span class="glyphicon glyphicon-star"></span>
					<span class="glyphicon glyphicon-star"></span>
					<span class="glyphicon glyphicon-star"></span>
					<span class="glyphicon glyphicon-star"></span>
					<span class="glyphicon glyphicon-star-empty"></span>
					4.0 stars
				</p>
			</div>
		</div>
	</div>
</div>