<!-- Page Content -->
<div class="container">
	<%= form_tag search_home_index_path, method: :get do %>
		<div class="row">
			<div class="well well-sm">
				<div class="row">
					<div class="col-lg-3"></div>
					<div class="col-lg-6">
						<div class="input-group">
              <%= text_field_tag(:q, params[:q] , { class:"form-control", placeholder: "Pesquisar..." }) %>
              <span class="input-group-btn">
                <%= submit_tag("Pesquisar", class:"btn btn-default") %>
              </span>
            </div><!-- /input-group -->
        	</div><!-- /.col-lg-6 -->
          <div class="col-lg-3"></div>
     	  </div><!-- /.row -->
   	  </div>
 		</div>
	<% end %>
	<div class="row">
		<div class="col-md-10">
			<div class="row carousel-holder">
				<div class="col-md-12">
					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
							<li data-target="#carousel-example-generic" data-slide-to="1"></li>
							<li data-target="#carousel-example-generic" data-slide-to="2"></li>
						</ol>
						<div class="carousel-inner">
							<% @carousel.each do |ad| %>
								<div class="item <%= @carousel.first.id == ad.id ? "active": "" %>">
									<%= image_tag ad.image_url, class: "slide-image" %>
								</div>
							<%end %>
						</div>
						<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left"></span>
						</a>
						<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</a>
					</div>
				</div>
			</div>
			<div class="row">
			<%= render partial: 'shared/ads' %>
			</div>
		</div>
	</div>
</div>